.videoPlayer {
  border-radius: 100px;
  z-index: 1;
  width: 50% !important;
  height: 33em;
}

.mainDisplayContainer {
  width: 100%;
}

.innerDisplayContainer {
  display: flex;
  width: 100%;
  flex-direction: inherit;
  /* flex-direction: row-reverse; */
}
.imageDiv {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
}
.videoPlayerDiv {
  width: 100%;
  display: block;
  z-index: 2;
  margin-top: 9%;
  margin-right: 22%;

  /* justify-content: flex-end; */
}

.televisionImage {
  width: 75%;
  height: auto;
  z-index: -1;
}
@media only screen and (min-width: 1366px) {
  /* For desktop: */
  .videoPlayer {
    border-radius: 100px;
    z-index: 1;
    width: 50% !important;
    height: 24em;
  }
}

@media screen and (min-width: 1400px) {
  /* For desktop: */
  .videoPlayer {
    border-radius: 100px;
    z-index: 1;
    width: 50% !important;
    height: 24em;
  }
}

@media screen and (min-width: 1920px) {
  /* For desktop: */
  .videoPlayer {
    border-radius: 100px;
    z-index: 1;
    width: 50% !important;
    height: 33em;
  }
}
