.centerInputBox {
  display: flex;
  justify-content: center;
}

/* this is to overwrite the current Materialize default size for input */
.row .col.s4 {
  width: 100%;
  text-align: center;
}

.card {
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 3%;
  padding-top: 3%;
}
